---
layout: listing
title: Posts
---

{% if paginator.total_pages > 1 %}
  <div class="paginator">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="paginator__button paginator__button--newer">&laquo; Newer</a>
    {% endif %}

    {% if paginator.previous_page and paginator.next_page %}
      <span class="paginator__divider">/</span>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="paginator__button paginator__button--older">Older &raquo;</a>
    {% endif %}
  </div>
{% endif %}
