---
layout: default
---
  {% assign page_type = 'listing' %}
  {% assign item_type = 'posts' %}
  {% assign outbound_link_flag = ' target="_blank"' %}


<main class="{{ item_type }} {{ item_type }}--{{ page_type }}" role="main">
  <h2 class="{{ item_type }}__heading {{ item_type }}--{{ page_type }}__heading">{{ page.title }}</h2>
  {% if page.content_type=='post' %}

  <ul class="{{ item_type }}__list {{ item_type }}--{{ page_type }}__list">
  {% assign pool = site.posts | where:'type',page.content_type %}
    {% for item in pool %}
      <li class="{{ item_type }}__entry {{ item_type }}--{{ page_type }}__entry">
           <time class="posts__entry-date posts__entry-date--{{ page_type }}" datetime="{{ item.date | date_to_xmlschema }}">
            {{ item.date | date: "%b %-d" }}
          </time>
        <div class="{{ item_type }}__entry-title {{ item_type }}__entry-title--{{ page_type }}"><a href="{{ site.baseurl }}{{ item.url }}"{{ outbound_link_flag }} style="font-size:2rem;">{{ item.title }}</a>
        {% if item.author %} <div class="{{ item_type }}__entry-teaser {{ item_type }}__entry-teaser--{{ page_type }}">{{ item.author }}</div>
    {% endif %}
    {% if item.teaser %} <div class="{{ item_type }}__entry-teaser {{ item_type }}__entry-teaser--{{ page_type }}">{{ item.teaser }}</div>
    {% endif %}
        </div>

      </li>
    {% endfor %}
  </ul>

  {% else %}
  


  <ul class="{{ item_type }}__list {{ item_type }}--{{ page_type }}__list">
  {% assign pool = site.posts | where:'type','course' %}
    {% for item in pool %}
      <li class="{{ item_type }}__entry {{ item_type }}--{{ page_type }}__entry">
        {% if item_type == 'posts' %}
          <!-- <time class="posts__entry-date posts__entry-date--{{ page_type }}" datetime="{{ item.date | date_to_xmlschema }}">
            {{ item.date | date: "%b %-d" }}
          </time> -->
        {% endif %}
        <div class="{{ item_type }}__entry-title {{ item_type }}__entry-title--{{ page_type }}"><a href="{{ site.baseurl }}{{ item.slide_link }}"{{ outbound_link_flag }}>{{ item.title }}</a>
        {% if item.teaser %} <div class="{{ item_type }}__entry-teaser {{ item_type }}__entry-teaser--{{ page_type }}">{{ item.teaser }}</div>
         {% endif %}
        </div>
        {% if item.tutorial %} 
        <div class="{{ item_type }}__entry-category {{ item_type }}__entry-category--{{ page_type }}">
          <a href="{{ item.tute_link }}"{{ outbound_link_flag }}> {{ item.tutorial }}</a>
        </div> 
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</main>
{{ content }}
